# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Temporary Pinterest parsing output
pws_data.json
pws_props.json
new_pws_data.json
new_pws_props.json
new_profile_pws_data.json
new_profile_pws_props.json
board_pws_data.json
board_pws_props.json
created_pws_props.json
created2_pws_props.json
profile_pins_pws_props.json
script_78.json
*.txt
*.ps1
/scratch/

